.rodape {
    background-color: #F9FAFB;
    margin-top: 5em;
    text-align: center;
    padding: 5em;
}

.rodape__titulo {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--escuro);
    margin: 1em 0;
}

.rodape__texto {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--cinza);
    margin-bottom: 2em;
}

.rodape__cadastro {
    display: flex;
    justify-content: center;
}

.rodape__cadastro__email {
    border-radius: 12px;
    border: 1px solid #D0D5DD;
    font-weight: 400;
    width: 15%;
    line-height: 24px;
    padding-left: 1em;
    font-size: 18px;
}

.rodape__cadastro__botao {
    background-color: var(--vermelho);
    color: var(--branco);
    border-radius: 12px;
    text-decoration: none;
    padding: 1em;
    margin-left: 1em;
}

.rodape__direitos {
    font-weight: 400;
    color: var(--cinza-claro);
    margin-top: 3em;
}